# Dependências
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diretórios de build
dist/
build/
out/
coverage/

# Ambiente
.env
.env.*.local

# Cache
.cache/
.nyc_output/
.eslintcache
.stylelintcache
.parcel-cache/
.next/
.nuxt/
.svelte-kit/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Testes
coverage/
*.lcov

# Outros
*.tgz
